<!DOCTYPE html>
<html lang="en" ng-app="interests">

<head>
    <title>Shivangi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/myAvatar.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
</head>

<body class="ExperiencePage">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <navigation-div>
        </navigation-div>
    </nav>
    <div class="container-fluid" style="padding-top:1em; padding-bottom:1em;" ng-controller="StoreCompanies as company">
        <div style="right:2%;bottom: 5%; position:fixed; z-index:100" class="scrollToTop">
            <button type="button" id="nav_up" class="btn "><span class="glyphicon glyphicon-chevron-up"></span></button>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2">
                <p></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: panel.isSelected(1)}">
                            <a href ng-click="panel.selectTab(1)">{{company.company[4].name}}</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)">{{company.company[0].name}}</a>
                        </li>
                        <li ng-class="{active:panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">{{company.company[3].name}}</a>
                        </li>
                        <li ng-class="{active:panel.isSelected(4)}">
                            <a href ng-click="panel.selectTab(4)">{{company.company[1].name}}</a>
                        </li>
                        <!-- <li ng-class="{active:panel.isSelected(4)}">
                            <a href ng-click="panel.selectTab(4)">{{company.company[2].name}}</a>
                        </li> -->
                    </ul>
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <center>
                            <h3>{{company.company[4].fullname}}</h3>
                            <h4>Project: {{company.company[4].project}}</h4>
                            <h5>{{company.company[4].duration}}</h5>
                        </center>

                        <div class="col-xs-12" style="padding:1em;"></div>

                        <div class="" id="allGoVisionExperienceBox">

                            <div id="allGoVisionExperienceData"></div>
                        </div>
                        <script id="experiencetpl1" type="text/template">
                                {{#responsibility}}
                                <div class="col-xs-12">
                                    <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                        <h4>{{name}}</h4>
                                    </div>
                                    <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                        <!-- <img src="images/{{shortname}}_sd.jpg" alt="Photo of {{name}}" /> -->
                                        <h5>{{skill}}</h5>
                                        <p>{{achievement}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12" style="padding:1em;"></div>
                                {{/responsibility}}
                            </script>
                        <!-- mustache script -->



                    </div><!-- panel 1 -->
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <center>
                            <h3>{{company.company[0].fullname}}</h3>
                            <h4>Project: {{company.company[0].project}}</h4>
                            <h5>{{company.company[0].duration}}</h5>
                        </center>

                        <div class="col-xs-12" style="padding:1em;"></div>

                        <div class="" id="experienceBox">

                            <div id="carousel"></div>
                            <!--<center>
                                        <i id="prev_btn" class="fa fa-2x fa-chevron-left fa-pull-left" aria-hidden="true"></i>
                                        <i id="next_btn" class="fa fa-2x fa-chevron-right fa-pull-right" aria-hidden="true"></i>
                                    </center> -->
                        </div>
                        <script id="experiencetpl" type="text/template">
                                {{#responsibility}}
                                <div class="col-xs-12">
                                    <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                        <h4>{{name}}</h4>
                                    </div>
                                    <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                        <!-- <img src="images/{{shortname}}_sd.jpg" alt="Photo of {{name}}" /> -->
                                        <h5>{{skill}}</h5>
                                        <p>{{achievement}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12" style="padding:1em;"></div>
                                {{/responsibility}}
                            </script>
                        <!-- mustache script -->



                    </div><!-- panel 1 -->
                    <!-- major project -->
                    <div class="panel" ng-show="panel.isSelected(4)">
                        <center>
                            <h3>{{company.company[1].fullname}}</h3>
                            <h5>{{company.company[1].duration}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[1].project}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[1].language}}</h5>
                                <p>{{company.company[1].complexity}}</p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <!-- Summer project -->
                        <center>
                            <h3>{{company.company[1].fullname2}}</h3>
                            <h5>{{company.company[1].duration2}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[1].project2}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[1].language2}}</h5>
                                <p>{{company.company[1].complexity2}}</p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <!-- mini project -->
                        <center>
                            <h3>{{company.company[1].fullname3}}</h3>
                            <h5>{{company.company[1].duration3}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[1].project3}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[1].language3}}</h5>
                                <p>{{company.company[1].complexity3}}</p>
                            </div>
                        </div>
                    </div><!-- panel 3 -->

                    <div class="panel" ng-show="panel.isSelected(3)">
                        <center>
                            <h3>{{company.company[3].fullname}}</h3>
                            <h5>{{company.company[3].duration}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[3].project}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[3].language}}</h5>
                                <p>{{company.company[3].complexity}}<br>
                                    Find <a href="https://drive.google.com/open?id=0ByRL2lCvi9KQd1VMQkJtS0p6aDA"
                                        target="_blank"><strong>my standard, pdf-based resume here <i
                                                class="icon-google-drive" aria-hidden="true"></i></strong></a><br>

                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>

                        <center>
                            <h3>{{company.company[3].fullname6}}</h3>
                            <h5>{{company.company[3].duration6}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[3].project6}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[3].language6}}</h5>
                                <p>{{company.company[3].complexity6}}<br>
                                    <ul>
                                        <li>
                                            <a href="https://book-app101.herokuapp.com/poseNet" target="_blank">
                                                <strong>Real-time Human Pose Estimation in the browser with
                                                    POSENET</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.myexperiments.in/imageClassifier/index.html"
                                                target="_blank"><strong>Image
                                                    Classifier using MobileNet</strong></a>
                                            with the
                                            <a href="https://shivangidas.blogspot.com/2018/07/using-mobilenet-with-tensorflowjs.html"
                                                target="_blank"><strong> blog <i class="icon-blogger2"
                                                        aria-hidden="true"></i></strong></a>
                                        </li>
                                        <li>
                                            <a href="https://codepen.io/ShivangiDas7/full/JZzWLw/"
                                                target="_blank"><strong>Neural Network for XOR <i class="icon-codepen"
                                                        aria-hidden="true"></i></strong></a> with the
                                            <a href="https://shivangidas.blogspot.com/2018/06/teach-your-computer-xor-function-with.html"
                                                target="_blank"><strong> blog <i class="icon-blogger2"
                                                        aria-hidden="true"></i></strong></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/shivangidas/digit-recognizer"
                                                target="_blank"><strong>Recognise Handwritten Digits <i
                                                        class="icon-github" aria-hidden="true"></i></strong></a>
                                        </li>
                                        <li>
                                            <a href="https://codepen.io/ShivangiDas7/full/rKoEZG"
                                                target="_blank"><strong>Linear Regression <i class="icon-codepen"
                                                        aria-hidden="true"></i></strong></a>
                                        </li>
                                        <li>
                                            <a href="https://codepen.io/ShivangiDas7/full/jKdEgK"
                                                target="_blank"><strong>Polynomial Regression <i class="icon-codepen"
                                                        aria-hidden="true"></i></strong></a>
                                        </li>
                                    </ul>


                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>

                        <center>
                            <h3>{{company.company[3].fullname5}}</h3>
                            <h5>{{company.company[3].duration5}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[3].project5}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[3].language5}}</h5>
                                <p>{{company.company[3].complexity5}}<br>
                                    <a href="3Dpage/my3Dpage.html" target="_blank"><strong>
                                            Find it here.
                                        </strong></a><br>

                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>

                        <center>
                            <h3>{{company.company[3].fullname4}}</h3>
                            <h5>{{company.company[3].duration4}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[3].project4}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[3].language4}}</h5>
                                <p>{{company.company[3].complexity4}}<br>
                                    <a href="https://codepen.io/ShivangiDas7/full/NdaVGE/"
                                        target="_blank"><strong>Rotating cube <i class="icon-codepen"
                                                aria-hidden="true"></i></strong></a><br>
                                    <a href="https://codepen.io/ShivangiDas7/full/OWjqEb/"
                                        target="_blank"><strong>Weather App <i class="icon-codepen"
                                                aria-hidden="true"></i></strong></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>

                        <center>
                            <h3>{{company.company[3].fullname2}}</h3>
                            <h5>{{company.company[3].duration2}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[3].project2}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[3].language2}}</h5>
                                <p>{{company.company[3].complexity2}}<br>
                                    Find <a href="http://myexperiments.in/twitter-feed" target="_blank"><strong>the link
                                            here <span class="glyphicon glyphicon-link"></span></strong></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:1em;"></div>

                        <center>
                            <h3>{{company.company[3].fullname3}}</h3>
                            <h5>{{company.company[3].duration3}}</h5>
                        </center>
                        <div class="col-xs-12" style="padding:1em;"></div>
                        <div class="col-xs-12">
                            <div class="responsibility col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{company.company[3].project3}}</h4>
                            </div>
                            <div class="responsibilityDes col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <h5>{{company.company[3].language3}}</h5>
                                <p>{{company.company[3].complexity3}}<br>
                                    Find <a href="http://myexperiments.in/goto" target="_blank"><strong>the link here
                                            <span class="glyphicon glyphicon-link"></span></strong></a>
                                </p>
                            </div>
                        </div>
                    </div><!-- panel 2 -->
                </section> <!-- the whole content -->
            </div><!-- main section div -->
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2">
                <p></p>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container-fluid -->
    <div class="push"></div>

    <footer class="container-fluid text-center">
        <footer-div></footer-div>
    </footer>
    <div class="bg_load"></div>
    <div class="wrapper"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"
        type="text/javascript"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript">
        $(function () {
            $.getJSON('exp_data.json', function (data) {
                var template = $('#experiencetpl').html();
                var html = Mustache.to_html(template, data);
                $('#carousel').html(html);
            }); //getJSON
            $.getJSON('exp_data1.json', function (data) {
                var template = $('#experiencetpl1').html();
                var html = Mustache.to_html(template, data);
                $('#allGoVisionExperienceData').html(html);
            }); //getJSON

        }); //function
        //Check to see if the window is top if not then display button
        $(document).ready(function () {
            "use strict";
            $('.scrollToTop').hide();
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });
    </script>
</body>

</html>